<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>reveal</title>
    <link rel="stylesheet" href="/reveal.js/dist/reset.css" />
    <link rel="stylesheet" href="/reveal.js/dist/reveal.css" />
    <link rel="stylesheet" href="/reveal.js/dist/theme/<%= theme %>.css" />
    <link
      rel="stylesheet"
      href="/highlight.js/styles/<%= highlightTheme %>.css"
    />
    <link
      type="image/png"
      rel="shortcut icon"
      href="/node-reveal/assets/icons/node-reveal.jpg"
    />
    <style>
      .slides .stack section {
        height: 100% !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0 !important;
      }
    </style>
    <% if (script) { %>
    <script src="<%= script %>"></script>
    <% } %>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section
          data-markdown="/node-reveal/reveal.md"
          data-separator="<%= separator %>"
          data-separator-vertical="<%= separatorVertical %>"
          data-separator-notes="<%= separatorNotes %>"
        ></section>
      </div>
    </div>
    <script src="/reveal.js/dist/reveal.js"></script>
    <script src="/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="/reveal.js/plugin/math/math.js"></script>
    <script src="/reveal.js/plugin/notes/notes.js"></script>
    <script src="/reveal.js/plugin/zoom/zoom.js"></script>
    <script src="/reveal.js/plugin/highlight/highlight.js"></script>
    <script>
      Reveal.initialize({
        width: Number('<%= width %>'),
        height: Number('<%= height %>'),
        margin: 0,
        pdfMaxPagesPerSlide: 1,

        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: '<%= transition %>',

        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        plugins: [
          RevealMarkdown,
          RevealMath,
          RevealHighlight,
          RevealNotes,
          RevealZoom,
        ],
      });
    </script>
    <script
      type="text/javascript"
      src="/socket.io-client/dist/socket.io.js"
    ></script>
    <script>
      (function() {
        if (window.location.search.match(/controls=false/gi)) {
          return;
        }
        var socket = io.connect(location.host);
        socket.on('connected', function(data) {
          // console.log('[reveal]', 'connected');
          document.title = data.title;
        });
        socket.on('disconnected', function() {
          // console.log('[reveal]', 'disconnected');
        });
        socket.on('reload', function() {
          location.reload();
        });

        // support sync slide change
        let indexh, indexv;
        Reveal.addEventListener('slidechanged', function(event) {
          // event.previousSlide, event.currentSlide, event.indexh, event.indexv
          if (event.indexh !== indexh || event.indexv !== indexv) {
            socket.emit('slidechanged', event);
          }
        });
        socket.on('slidechanged', function(event) {
          // Reveal.slide( indexh, indexv, indexf );
          indexh = event.indexh;
          indexv = event.indexv;
          Reveal.slide(indexh, indexv);
        });
      }())
    </script>
  </body>
</html>
